<html>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <body>
        <div id="wrapper">
            <div id="title">
                <h1>Amazon Wishlist Search</h1>
            </div>
            <div id="description">
                <p>Have a public wishlist on amazon.com? Find out which items are available at your school's library. Enter the email address linked to your wishlist below.
                </p>
            </div>
            <form action="/search" method="GET">
                <div id="emailField">
                    <input type="text" id="emailField" name="email" rows="3" cols="60">
                </div>
                <div id="libSelect">
                    <p><input type="radio" id="librarySelect" name="library" value="carleton" checked>Carleton</p>
                    <p><input type="radio" id="librarySelect" name="library" value="uottawa">UOttawa</p>
                    <p><input type="radio" id="librarySelect" name="library" value="western">Western</p>
                    <p><input type="radio" id="librarySelect" name="library" value="queens">Queen's</p>
                    <p><input type="radio" id="librarySelect" name="library" value="brock">Brock</p>
                    <p><input type="radio" id="librarySelect" name="library" value="york">York</p>
                    <p><input type="radio" id="librarySelect" name="library" value="windsor">Windsor</p>
                    <p><input type="radio" id="librarySelect" name="library" value="lakehead">Lakehead</p>
                    <p><input type="radio" id="librarySelect" name="library" value="ryerson">Ryerson</p>
                    <p><input type="radio" id="librarySelect" name="library" value="ocad">OCAD</p>
                </div>
                <div id="submit">
                    <input type="submit" value="search" id="submitButton">
                </div>
            </form>
        </div>
    </body>
</html>
